<div class="card text-left mt-5">
  <ng-container *ngIf="headerTemplate; else elseTemplate">
    <ng-container *ngTemplateOutlet="headerTemplate; context: tabsContext;">
    </ng-container>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item" *ngFor="let tab of tabs; let i = index" (click)="selectTab(tab)">
          <a class="nav-link" [class.active]="tab.selected">
            {{ tab.title }}
          </a>
        </li>
      </ul>
    </div>
  </ng-template>
  <div class="card-body">
    <div class="tab-panel">
      <ng-content></ng-content>
    </div>
  </div>
</div>