<form autocomplete="off" novalidate class="form-inline">
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="form-group">
        <label class="mr-3 col-sm-2 col-form-label">Email</label>
        <au-fa-input icon="envelope">
          <input type="text" class="form-control" name="email" placeholder="email" #input>
        </au-fa-input>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label class="mr-3 col-sm-2 col-form-label">Password</label>
        <au-fa-input icon="lock">
          <input type="text" class="form-control" name="password" placeholder="password" #input>
        </au-fa-input>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label class="mr-3 col-sm-2 col-form-label">Paypal</label>
        <au-fa-input icon="paypal">
          <input type="text" class="form-control" name="paypal" placeholder="paypal" #input>
        </au-fa-input>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group mb-3">
        <label class="mr-3 col-sm-2 col-form-label">Stripe</label>
        <au-fa-input icon="cc-stripe">
          <input type="text" class="form-control" name="stripe" placeholder="stripe" #input>
        </au-fa-input>
      </div>
    </div>
  </div>
</form>