<au-tab-panel>
  <!-- Tab Login -->
  <au-tab title="Login">
    <form>
      <div class="col-6">
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">Password</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
    </form>
  </au-tab>
  <!-- Tab Signup -->
  <au-tab title="Signup">
    <h1>Signup tab content...</h1>
  </au-tab>
  <!-- Tab Contact -->
  <au-tab title="Contact">
    <h1>Contact tab content...</h1>
  </au-tab>
</au-tab-panel>